hr
#social
	.row
		.col-sm-6.col-xs-3
			// .g-pagea(data-width="273", data-href="//plus.google.com/115748842297808945330", data-layout="landscape", data-rel="publisher")
			a.btn.btn-primary(style="background-color: #d34836; border-color: #d34836",target="_blank",href="//plus.google.com/115748842297808945330",type="button")
				span.icon-gplus
				|  EtaBits
		.col-sm-6.col-xs-3
			a.btn.btn-primary(type='button', href='http://www.facebook.com/etabits', target='_blank', style='background-color: #3b5999; border-color: #3b5999')
				span.icon-facebook
				|  EtaBits
		.col-sm-6.col-xs-3
			a.btn.btn-primary(type='button', href='http://twitter.com/etabits', target='_blank', style='background-color: #4099ff; border-color: #4099ff')
				span.icon-twitter
				|  @etabits
		.col-sm-6.col-xs-3
			a.btn.btn-primary(type='button', href='http://github.com/etabits', target='_blank', style='background-color: #333; border-color: #333')
				span.icon-github-circled
				|  etabits
