hr
#social
	.row
		.col-sm-6.col-xs-3
			a.btn.btn-primary(href='http://github.com/etabits', target='_blank', style='background-color: #333; border-color: #333')
				span.icon-github-circled
				|  etabits
		.col-sm-6.col-xs-3
			.hoverslideup
				// .g-pagea(data-width="273", data-href="//plus.google.com/115748842297808945330", data-layout="landscape", data-rel="publisher")
				a.btn.btn-primary(style="background-color: #d34836; border-color: #d34836",target="_blank",href="//plus.google.com/115748842297808945330")
					span.icon-gplus
					|  EtaBits
				.socialiter-g-plusone ...
		.col-sm-6.col-xs-3
			.hoverslideup
				a.btn.btn-primary(href='http://www.facebook.com/etabits', target='_blank', style='background-color: #3b5999; border-color: #3b5999')
					span.icon-facebook
					|  EtaBits
				.socialiter-fb-like(data-href='https://www.facebook.com/etabits',data-colorscheme='light', data-layout='button_count', data-action='like', data-show-faces='false', data-send='false') ...

		.col-sm-6.col-xs-3
			.hoverslideup
				a.btn.btn-primary(href='http://twitter.com/etabits', target='_blank', style='background-color: #4099ff; border-color: #4099ff')
					span.icon-twitter
					|  @etabits
				a.socialiter-twitter-follow-button(href="https://twitter.com/etabits", data-show-count="false") Follow @etabits


