---
title: 'ηBits Web Development & Solution'
template: layout.jade
---

.container#main-container
	.row
		.col-sm-3#sidebar(role='navigation')
			include p/sidebar
		.col-sm-9#content
			.page-header
				h1= title

