!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals.title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    != nap.css('main')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400|Open+Sans:400,700',rel='stylesheet',type='text/css')
    //if IE 7
      link(href='/css/etabits-ie7.css',rel='stylesheet',type='text/css')
    //if lt IE 8
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js')
    meta(name="description",content="ηBits is a Syria based Web Consultancy, Development & Solutions firm. We aim at providing you with exactly what you need to reach your users and clients.")
    meta(property="og:image", content="http://www.etabits.com/img/logo.jpeg")
  body
    .container#main-container
      .row
        .col-sm-3#sidebar
          include p/sidebar
          include p/social
        .col-sm-9.col-sm-offset-3#content
          != page.html.replace(/<h2>([^<]+)/g, function(a,label) {return '<h2 id="'+label.replace(/ +/g, '-')+'">'+label})
    != nap.js('main')
    #fb-root